root = true

[*.{kt,kts,java}]
indent_style             = space
indent_size              = 4
continuation_indent_size = 4
max_line_length          = 120
disabled_rules           = import-ordering
trim_trailing_whitespace = true
insert_final_newline     = true
ij_java_class_count_to_use_import_on_demand = 9999
ij_java_names_count_to_use_import_on_demand = 9999
ij_kotlin_name_count_to_use_star_import = 9999
ij_kotlin_name_count_to_use_star_import_for_members = 9999

[*.proto]
indent_stye = space
indent_size = 4
