.create-challenge-page-body {
  display: flex;
  flex-direction: column;

  .input-group {
    display: inline-block;
    margin: 3px 10px 3px 0;
  }

  .inline-flex {
    display: inline-flex;
  }
}
