.accessibility-allowed-region-page-body {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;

  #map {
    min-width: 200px;
    height: calc(100vw - 40px);
    max-height: 500px;
  }
}
