.create-club-quest-page-body {
  display: flex;
  flex-direction: column;

  #map {
    min-width: 200px;
    height: calc(100vw - 40px);
    max-height: 500px;
  }

  .body-item-fixed-height {
    flex: 0 0 auto;
  }

  .input-group {
    margin: 3px 0;
  }

  .inline-flex {
    display: inline-flex;
  }
}
