몇호선   무슨역
2호선	왕십리(성동구청)
2호선	뚝섬
2호선	성수
분당선	서울숲
2호선	상왕십리
5호선	답십리
5호선	행당
2호선	용답
3호선	금호
2호선	한양대
5호선	신금호
2호선	신답
3호선	옥수
5호선	마장
경원선	응봉
2호선	건대입구
2호선	신당
분당선	압구정로데오
3호선	압구정
3호선	약수
7호선	어린이대공원(세종대)
2호선	구의(광진구청)
2호선	동대문역사문화공원(DDP)
